@import "tailwindcss";






@import '../styles/colors.css';
/* solo si necesitas tus propias reglas */





body {
  background: var(--background-color);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.perspective-1000 {
  perspective: 1000px;
}


@theme {
  --color-primary: #eb5b2f;
  --color-secondary: #c9390d;
  --color-shadow: #969696;
  --color-background: #f8f8f8;
  --color-foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-gray-dark: #1E1E1E;
  --color-gray-light: #F5F5F5;
}